<style>
		body {
			font-family: Arial, sans-serif;
		}
		.card {
			margin-bottom: 20px;
		}
		.card-header {
			background-color: #563D2D;
			color: white;
			font-size: 1.25rem;
		}
		.card-body {
			padding: 20px;
		}
		table {
			width: 100%;
		}
		th, td {
			text-align: center;
			padding: 8px;
		}
		th {
			background-color: #f2f2f2;
		}
		.table-container {
			overflow-x: auto;
		}
		#exportButton {
			background-color: #3B5323; /* Dark matte green */
			color: white;
			border-color: #3B5323; /* Match the border color */
		}

		#exportButton:hover {
			background-color: #334D23; /* Slightly darker shade on hover */
			border-color: #334D23; /* Match the border color on hover */
		}
		.btn-custom {
			background-color: rgb(170, 130, 115); /* Lighter RGB color */
			border: none;
			color: white; /* White text color */
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
			border-radius: 5px; /* Optional: for rounded corners */
		}

		.btn-custom:hover {
			background-color: rgb(150, 110, 95); /* Slightly darker color on hover for better user experience */
		}
		.text-danger {
			color: red;
		}
	</style>